/*Card section - Adrian Coman*/
:root {
  --background-color: #ffffff;
  --border-color: #ffffff;
  --paragraph-color: #907e82;
  --open-hours-color: #ffa5ba;
  --background-color-cards: #fff5f6;
  --background-color-cafe: #f0d1a5;
  --background-color-food-truck: #c2e297;
  --cards-title-color: #ffffff;
  --line-vector-color: #e1e1e1;
}

p {
  color: var(--paragraph-color);
}

.phone,
.mail {
  color: grey;
}
a:hover,
a:active {
  color: #ffa5ba;
}

.open-hours {
  color: var(--open-hours-color);
}

.cards {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color-cards);
  gap: 32px;
  justify-content: center;
}

.border-card {
  padding: 30px;
  background-color: var(--background-color);
  border: solid var(--border-color);
  border-radius: 5%;
  width: 368px;
  height: 538px;
}

.cafe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
}

.cafe-header {
  color: var(--cards-title-color);
  background-color: var(--background-color-cafe);
  text-transform: uppercase;
  border: solid var(--background-color-cafe);
  border-radius: 1rem;
  width: 5rem;
}

.food-truck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.food-truck-header {
  color: var(--cards-title-color);
  background-color: var(--background-color-food-truck);
  text-transform: uppercase;
  border: solid var(--background-color-food-truck);
  border-radius: 1rem;
  width: 9rem;
}

.line-vector {
  stroke: var(--line-vector-color);
  height: 32px;
}
