.cards-overlap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.masonry {
  max-width: 1013px;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  z-index: 28;
  margin-top: -4.5rem;
  display: flex;
  gap: 8px;
  align-items: center;
}
.rounded-corners {
  border-radius: 15%;
}
.rebel-first {
  margin-bottom: -1rem;
}
.rebel-second {
  margin-bottom: 76px;
}
