:root {
  --font-family: 'DM Sans', sans-serif;
  --second-family: 'Titan One', sans-serif;
  --background-color: #fff;
  --header-background: #ffb8ca;
  --dot-color: #c7133e;
  --inactive-dot-color: #d9d9d9;
  --container-background: #fafafa;
  --section-background: #fff5f6;
  --button-hover-color: #ecebeb;
  --red-text-color: #d41443;
  --mobile-header-bkg: #e17992;
  --mobile-nav-border: #e18298;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.full-background {
  height: 100%;
  width: 100%;
  /* position: absolute; */
}

.header {
  background-color: var(--header-background);
  max-width: 75rem;
  margin: 0 auto;
  padding: 2.313rem 1rem 0 1rem;
}

.container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.188rem;
}

.main-navigation a {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

nav > ul > li:nth-child(1) > a {
  color: var(--red-text-color);
}

.buy-now-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  max-width: 13.063rem;
  border: none;
  border-radius: 1.375rem;
  outline: none;
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--red-text-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-now-button:hover {
  background: var(--button-hover-color);
}

.button-text {
  padding: 0.8rem 0.8rem 0.8rem 0;
}

/* Header: Mobile Navigation */

.js-menu-container,
.burger-menu-wrapper {
  display: none;
  cursor: pointer;
}

.burger-button-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.js-menu-container {
  display: none;
}

.js-menu-container.is-open {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: var(--mobile-header-bkg);
  min-width: 15.875rem;
  height: 100%;
  gap: 1.75rem;
  box-shadow: -8px 0 20px 0 rgba(0, 0, 0, 0.25);
}

.close-btn {
  position: absolute;
  top: 1.25rem;
  right: 2rem;
  display: flex;
  justify-content: flex-end;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3.625rem;
}

.mobile-menu > .main-navigation ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  margin: 0;
}

.mobile-menu > .main-navigation li {
  border-bottom: 1px solid var(--mobile-nav-border);
  padding: 13px 20px 11px;
}

.js-menu-container nav > ul > li:nth-child(1) {
  border-top: 1px solid var(--mobile-nav-border);
}

@media screen and (max-width: 480px) {
  .container-row .buy-now-button {
    display: none;
  }

  .js-menu-container {
    min-width: 15.625rem;
  }

  .mobile-menu .buy-now-button {
    margin: 0 1.25rem;
  }
}

@media screen and (max-width: 965px) {
  .mobile-header {
    display: flex;
  }

  .header nav {
    display: none;
  }

  .burger-menu-wrapper {
    display: flex;
  }

  .header {
    padding: 2rem 1rem 0 1rem;
  }

  .mobile-menu .buy-now-button {
    margin: 0 2.125rem;
  }
}

@media screen and (min-width: 481px) {
  .container-row .buy-now-button {
    min-width: 10rem;
  }
}
