:root {
  --font-family: 'DM Sans', sans-serif;
  --second-family: 'Titan One', sans-serif;
  --background-color: #fff;
  --header-background: #ffb8ca;
  --dot-color: #c7133e;
  --inactive-dot-color: #d9d9d9;
  --container-background: #fafafa;
  --section-background: #fff5f6;
  --button-hover-color: #ecebeb;
  --red-text-color: #d41443;
  --mobile-header-bkg: #e17992;
  --mobile-nav-border: #e18298;
  --h3-title-color: #ffa5ba;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 38px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--background-color);
}

.header {
  background-color: var(--header-background);
  max-width: 75rem;
  margin: 0 auto;
  padding: 2.5rem 1rem 0 1rem;
  overflow: hidden;
}

.container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  z-index: 1;
}

.main-navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.188rem;
  position: relative;
  z-index: 1;
  padding-left: 0;
}

.main-navigation a {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

nav > ul > li:nth-child(1) > a {
  color: var(--red-text-color);
}

.buy-now-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  max-width: 13.063rem;
  border: none;
  border-radius: 1.375rem;
  outline: none;
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--red-text-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-now-button:hover {
  background: var(--button-hover-color);
}

.button-text {
  padding: 0.8rem 0.8rem 0.8rem 0;
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
  background-color: var(--header-background);
  height: 572px;
  max-width: 75rem;
  margin: 0 auto;
  position: relative;
}

.hero-section img {
  max-width: 100%;
  height: auto;
}

.hero-left-container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.hero-title-holder {
  display: flex;
  position: absolute;
  z-index: 1;
  max-width: 17%;
  padding-top: 45px;
}

.hero-section span {
  font-size: 58px;
  color: var(--red-text-color);
  line-height: 0.75;
}

.hero-button-holder {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 40%;
  gap: 12px;
}

.hero-button {
  outline: none;
  border: none;
  background-color: var(--red-text-color);
  border-radius: 20px;
  padding: 10.2px 24.3px;
}

.hero-button-holder > button:nth-child(2) {
  padding: 10.2px 20.15px;
  background-color: var(--background-color);
  color: var(--red-text-color);
}

.hero-button-holder > button:nth-child(2):hover {
  background: var(--button-hover-color);
}

.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--background-color);
}

.corner-image-text-holder {
  display: flex;
  flex-shrink: 0;
  position: absolute;
  bottom: 60px;
  left: 0;
}

.corner-image-text-holder img {
  width: 213px;
}

.text-button-holder p.hero-text {
  display: flex;
  margin: 0;
  max-width: 200px;
  padding-top: 25px;
}

.text-button-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.hero-round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  width: 26px;
  height: 26px;
  outline: 0;
  border: 0;
  border-radius: 50%;
  fill: var(--h2-title-color);
}

.hero-middle-container {
  display: flex;
  position: absolute;
  top: -35px;
  right: 133px;
  width: 534px;
  height: 534px;
  background-color: var(--h3-title-color);
  border-radius: 50%;
  z-index: 0;
}

.hero-image img {
  position: absolute;
  top: 50px;
  right: 179px;
  width: 236px;
}

.hero-right-container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.cafes,
.trucks {
  background-color: var(--background-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.cafes-holder {
  position: relative;
  top: 66px;
}

.cafes {
  position: absolute;
  top: 0;
  right: 0;
}

.cafes h4,
.trucks h4 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 46px;
  color: var(--red-text-color);
  margin: 0;
  position: absolute;
  top: 5px;
  right: 16px;
}

.cafes-holder .hero-text,
.trucks-holder .hero-text {
  position: absolute;
  bottom: 0;
  top: 148%;
  right: 55%;
}

.trucks-holder .hero-text {
  width: 74px;
}

.trucks-holder {
  position: relative;
  top: 155px;
  right: 0;
}

.trucks {
  position: absolute;
  top: 0;
  right: 0;
}

.right-corner-image-holder {
  display: flex;
  position: absolute;
  bottom: -3px;
  right: 0;
}

.right-corner-image-holder img {
  width: 304px;
}

@media screen and (max-width: 960px) {
  .hero-section {
    height: 350px;
  }

  .hero-title-holder {
    padding-top: 5px;
  }

  .hero-title-holder h1 {
    font-size: 22px;
  }

  .hero-section span {
    font-size: 34px;
  }

  .hero-middle-container {
    width: 350px;
    height: 350px;
    right: 145px;
  }

  .hero-text {
    font-size: 8px;
    line-height: 0;
  }

  .hero-button-holder {
    gap: 8px;
    top: 33%;
  }

  .hero-button {
    padding: 12px 14px;
  }

  .hero-button-holder > button:nth-child(2) {
    padding: 12px 13px;
  }

  .hero-image img {
    position: absolute;
    top: 47px;
    right: 142px;
    width: 143px;
  }

  .corner-image-text-holder {
    bottom: 6px;
  }

  .corner-image-text-holder img {
    width: 152px;
  }

  .text-button-holder p.hero-text {
    max-width: 114px;
    line-height: 1.4;
  }

  .cafes,
  .trucks {
    width: 16px;
    height: 16px;
  }

  .cafes-holder {
    top: 14px;
  }

  .cafes h4,
  .trucks h4 {
    font-size: 28px;
    top: 2px;
    right: 9px;
  }

  .cafes-holder .hero-text,
  .trucks-holder .hero-text {
    top: 190%;
    right: 55%;
  }

  .trucks-holder .hero-text {
    width: 43px;
  }

  .trucks-holder {
    top: 70px;
  }

  .right-corner-image-holder img {
    width: 190px;
  }
}

@media screen and (max-width: 650px) {
  .hero-section {
    height: 442px;
  }

  .hero-middle-container {
    width: 346px;
    height: 344px;
    right: -92px;
    top: 30px;
  }

  .hero-image img {
    width: 171px;
    right: 96px;
    top: 8px;
  }

  .hero-title-holder {
    max-width: 218px;
    top: 25%;
  }

  .hero-title-holder h1 {
    font-size: 28px;
  }

  .hero-section span {
    font-size: 48px;
    line-height: 0.93;
  }

  .hero-button-holder {
    top: 60%;
  }

  .corner-image-text-holder,
  .hero-right-container {
    display: none;
  }
}

/* Header: Mobile Navigation */

.js-menu-container,
.burger-menu-wrapper {
  display: none;
  cursor: pointer;
}

.burger-button-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.js-menu-container {
  display: none;
}

.js-menu-container.is-open {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: var(--mobile-header-bkg);
  min-width: 15.875rem;
  height: 100%;
  gap: 1.75rem;
  box-shadow: -8px 0 20px 0 rgba(0, 0, 0, 0.25);
}

.close-btn {
  position: absolute;
  top: 1.25rem;
  right: 2rem;
  display: flex;
  justify-content: flex-end;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3.625rem;
}

.mobile-menu > .main-navigation ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  margin: 0;
}

.mobile-menu > .main-navigation li {
  border-bottom: 1px solid var(--mobile-nav-border);
  padding: 13px 20px 11px;
}

.js-menu-container nav > ul > li:nth-child(1) {
  border-top: 1px solid var(--mobile-nav-border);
}

@media screen and (max-width: 965px) {
  .mobile-header {
    display: flex;
  }

  header > div.container-row > nav {
    display: none;
  }

  .burger-menu-wrapper {
    display: flex;
  }

  .header {
    padding: 2rem 2rem 0 2rem;
  }

  .mobile-menu .buy-now-button {
    margin: 0 2.125rem;
  }
}

@media screen and (min-width: 481px) {
  .container-row .buy-now-button {
    min-width: 10rem;
  }
}

@media screen and (max-width: 480px) {
  div.container-row > div.burger-button-wrapper > button {
    display: none;
  }

  .js-menu-container {
    min-width: 15.625rem;
  }

  .mobile-menu .buy-now-button {
    margin: 0 1.25rem;
  }

  .header {
    padding: 0.5rem 1.25rem 0 1.25rem;
  }

  .hero-middle-container {
    width: 345px;
    height: 345px;
    right: -81px;
  }
}
