/* ************* ******************How It's Made SECTION************************** */

.crazy-cow {
  /* background-color: #fff5f6; */
}

.how-is-made {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2em auto 0px;
  padding: 3.125em 3.125em 12em;
  background-color: #fff5f6;
}

.how-is-made h3 {
  font-size: 1.5em;
  color: #ffa5ba;
  text-align: center;
}

.how-is-made h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
  color: #d14443;
  text-align: center;
}

.how-is-made .read-more {
  font-weight: bold;
  background-color: #ffffff;
  color: #d14443;
  text-decoration: none;
  padding: 1em 2em;
  border: 2px solid #ffffff;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
}

.image-container {
  display: flex;
  margin-top: 3em;
  gap: 7em;
}

.text-container {
  flex-wrap: wrap;
  color: black;
  margin-top: 4em;
  width: 20em;
}

.read-more {
  margin-top: 1em;
  margin-left: 12em;
}
/* Stilizare svg */
.icons {
  display: flex;
  flex-direction: row;

  height: 15vw;
}

.icons h2 {
  color: #d14443;
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
}

.icon-721 svg {
  width: 98px;
  height: 65px;
}

.kg svg {
  width: 147px;
  height: 65px;
}

.icon-84 svg {
  width: 77px;
  height: 65px;
}

span {
  font-family: 'DM Sans';
  font-weight: 700;
}
/* *************Section END************* */
