<section class="cards">
  <div class="border-card">
    <div class="cafe">
      <h3 class="cafe-header">Cafe</h3>
      <h4>Chicago</h4>
      <p>
        Handcrafted coffee, <br />
        baked goods, and <br />
        premium ice cream.
      </p>
      <h4>Monday - Friday</h4>
      <p class="open-hours">06:00 AM - 10:00 PM</p>
      <h4>Saturday - Sunday</h4>
      <p class="open-hours">08:00 AM - 16:00 PM</p>
      <a href="tel:+61(0)383766284">+61(0)383766284</a>
      <a href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
  </div>
  <div class="border-card">
    <div class="food-truck">
      <h3 class="food-truck-header">Food truck</h3>
      <h4>Los Angeles</h4>
      <p>
        Fusion cuisine and <br />
        refreshing ice cream <br />
        made with passion.
      </p>
      <h4>Monday - Friday</h4>
      <p class="open-hours">06:00 AM - 10:00 PM</p>
      <h4>Saturday - Sunday</h4>
      <p class="open-hours">08:00 AM - 16:00 PM</p>
      <a href="tel:+61(0)383766284">+61(0)383766284</a>
      <a href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
  </div>
  <div class="border-card">
    <div class="cafe">
      <h3 class="cafe-header">Cafe</h3>
      <h4>New York</h4>
      <p>
        Specialty teas, artisanal <br />
        pastries, mouth- <br />watering ice cream.
      </p>
      <h4>Monday - Friday</h4>
      <p class="open-hours">06:00 AM - 10:00 PM</p>
      <h4>Saturday - Sunday</h4>
      <p class="open-hours">08:00 AM - 16:00 PM</p>
      <a href="tel:+61(0)383766284">+61(0)383766284</a>
      <a href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
  </div>
</section>
