<footer class="footer">
  <div class="footer-buttons">
    <button class="footer-btn">Our Locations</button>
    <button class="footer-btn">Franchise</button>
  </div>
  <div class="footer-p1">
    <p class="footer-homemade-ice-cream-made">homemade ice cream made</p>
    <p class="footer-with-passion">with passion</p>
  </div>
  <div class="social-and-phone">
    <div class="footer-social-media">
      <a href="https://github.com" target="_blank" rel="noopener noreferrer nofollow">
      <svg class="footer-social-media-icons">
        <use href="/src/svg/symbol-defs.svg#icon-git"></use>
      </svg>
      <a href="https:telegram.org/" target="_blank" rel="noopener noreferrer nofollow">
      <svg class="footer-social-media-icons">
        <use href="/src/svg/symbol-defs.svg#icon-telegram"></use>
      </svg>
      <a href="https://facebook.com" target="_blank" rel="noopener noreferrer nofollow">
      <svg class="footer-social-media-icons">
        <use href="/src/svg/symbol-defs.svg#icon-facebook"></use>
      </svg>
    </div>
    <p class="footer-feel-free-to-contact">
      Feel free to contact
      <a href="tel:+61(0)383766284" class="footer-contact-tel"
        >+61 (0)383 766 284</a
      >
    </p>
  </div>

  <svg class="footer_horizontal_line">
    <use
      href="/src/svg/horizontal_line/symbol-defs.svg#icon-horizontal_line"
    ></use>
  </svg>
  <div class="copyright">
    <span class="copyright-text">© 2022 - IceCream. All Rights Reserved. </span>
  </div>
</footer>
