<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./galery.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="testing"></section>
    <section class="gallery">
      <img src="/src/images/home-pic55.jpg" class="pic one" alt="" />
      <img src="/src/images/home-pic54.jpg" class="pic two" alt="" />
      <img src="/src/images/home-pic56.jpg" class="pic three" alt="" />
      <img src="/src/images/home-pic51.jpg" class="pic four" alt="" />
      <img src="/src/images/home-pic57.jpg" class="pic five" alt="" />
      <img src="/src/images/home-pic59.jpg" class="pic six" alt="" />
      <img src="/src/images/home-pic58.jpg" class="pic seven" alt="" />
      <img src="/src/images/home-pic510.jpg" class="pic eight" alt="" />
      <img src="/src/images/home-pic512.jpg" class="pic nine" alt="" />
      <img src="/src/images/home-pic511.jpg" class="pic ten" alt="" />
    </section>
  </body>
</html>
