<!-- Gallery section start (te rog sa iti adaugi numele) -->

<section class="cards-overlap">
  <div class="masonry">
    <div class="masonry-item-1">
      <img
        class="rounded-corners"
        src="/src/images/variety1.jpg"
        alt="icecream"
      />
    </div>
    <div class="masonry-item-2">
      <img
        class="rounded-corners"
        src="/src/images/variety2.jpg"
        alt="icecream"
      />
      <img
        class="rounded-corners"
        src="/src/images/variety3.jpg"
        alt="icecream"
      />
    </div>
    <div class="masonry-item-3">
      <img
        class="rounded-corners"
        src="/src/images/variety4.jpg"
        alt="icecream"
      />
      <img
        class="rounded-corners"
        src="/src/images/variety5.jpg"
        alt="icecream"
      />
    </div>
    <div class="masonry-item-4 rebel-first">
      <img
        class="rounded-corners"
        src="/src/images/variety6.jpg"
        alt="icecream"
      />
      <img
        class="rounded-corners"
        src="/src/images/variety7.jpg"
        alt="icecream"
      />
    </div>
    <div class="masonry-item-5 rebel-second">
      <img
        class="rounded-corners"
        src="/src/images/variety8.jpg"
        alt="icecream"
      />
      <img
        class="rounded-corners"
        src="/src/images/variety9.jpg"
        alt="icecream"
      />
    </div>
    <div class="masonry-item">
      <img
        class="rounded-corners"
        src="/src/images/variety10.jpg"
        alt="icecream"
      />
    </div>
  </div>
</section>
<!-- Gallery section end (Nume) -->
