<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/src/sass/index.scss" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Titan One:wght@400&display=swap"
    />
  </head>

  <header>
    <div class="rectangle-parent">
      <div class="frame-child"></div>
      <div class="frame-item"></div>
      <img
        class="slider-pic7-1-icon"
        alt=""
        src="/src/images/sliderpic7-1@2x.png"
      />

      <div class="btn-4">
        <div class="btn-4-child"></div>
        <div class="buy-now-parent">
          <b class="buy-now">Buy now</b>
          <img class="group-child" alt="" src="/src/images/vector-1.svg" />
        </div>
      </div>
      <div class="home-parent">
        <a class="home">Home</a>
        <a class="about-us">About us</a>
        <a class="how-its-made">How it's made?</a>
        <a class="our-products">Our products</a>
        <a class="contact">Contact</a>
      </div>
      <div class="ice-cream-made-container">
        <p class="ice-cream">ice cream</p>
        <p class="ice-cream">made with</p>
        <p class="passion">passion</p>
      </div>
      <div class="btn-3">
        <div class="btn-3-child"></div>
        <div class="products">Products</div>
      </div>
      <div class="btn-2">
        <div class="btn-2-child"></div>
        <div class="how-its-made1">How it’s made?</div>
      </div>
      <div class="ellipse-parent">
        <div class="group-item"></div>
        <div class="div">16</div>
        <div class="cafes">cafes</div>
      </div>
      <div class="ellipse-group">
        <div class="group-inner"></div>
        <div class="div1">23</div>
        <div class="food-trucks">food trucks</div>
      </div>
      <img
        class="arrow-right-3-icon"
        alt=""
        src="/src/images/arrowright-3@2x.png"
      />

      <img
        class="slider-pic5-1-icon"
        alt=""
        src="/src/images/sliderpic5-1@2x.png"
      />

      <div class="indulge-in-a">
        Indulge in a scoop of ice cream made with passion and treat your taste
        buds to an unforgettable experience!
      </div>
      <img
        class="slider-pic4-1-icon"
        alt=""
        src="/src/images/sliderpic4-1@2x.png"
      />
      <img class="group-icon1" alt="" src="/src/images/group.svg" />

      <img class="group-icon2" alt="" src="/src/images/group.svg" />
      <div>helloo here</div>
    </div>
  </header>
</html>
