<!-- Header -->
<div class="full-background">
  <div class="header">
    <div class="container-row">
      <div class="logo">
        <a href="/src/index.html">
          <img src="/src/images/navbar-images/icelogo.webp" alt="logo" />
        </a>
      </div>
      <nav class="main-navigation">
        <ul>
          <li><a>Home</a></li>
          <li><a>About us</a></li>
          <li><a>How it's made?</a></li>
          <li><a>Our products</a></li>
          <li><a>Contact</a></li>
        </ul>
      </nav>
      <div class="burger-button-wrapper">
        <a class="js-open-menu burger-menu-wrapper">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="14"
            fill="none"
            viewBox="0 0 20 14"
          >
            <path stroke="#D41443" d="M0 1h20M0 7h20M0 13h20" />
          </svg>
        </a>
        <button type="button" class="buy-now-button">
          <span class="button-text">Buy now</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="12"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="#D41443"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4-4 4"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Header: Mobile Navigation -->
  <div class="js-menu-container">
    <button class="menu-toggle js-close-menu close-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="none"
        viewBox="0 0 16 16"
      >
        <path stroke="#fff" d="m1.26 1 13.48 14M1 14.74 15 1.26" />
      </svg>
    </button>
    <div class="mobile-menu">
      <button type="button" class="buy-now-button">
        <span class="button-text">Buy now</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="8"
          height="12"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="#D41443"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4-4 4"
          />
        </svg>
      </button>
      <nav class="main-navigation">
        <ul>
          <li><a>Home</a></li>
          <li><a>About us</a></li>
          <li><a>How it's made?</a></li>
          <li><a>Our products</a></li>
          <li><a>Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
