<!-- Hero section start(Nume) -->
<section class="hero">
  <div class="headerhero"></div>
  <div class="icecream">
    <img src="/src/images/ice cream made with passion (1).png" alt="" />
  </div>

  <ul class="btnlist">
    <img src="/src/images/Btn 3.png" />

    <img src="/src/images/Btn 2.png" alt="" />
  </ul>

  <div class="bio"><img src="/src/images/slider-pic5 1.png" alt="" /></div>

  <div class="indulge">
    <img
      src="/src/images/Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable experience!.png"
      alt=""
    />
  </div>

  <div class="slider">
    <img src="/src/images/arrow-right 3.png" alt="" />
  </div>

  <div class="Ellipse">
    <img src="/src/images/Ellipse 3.png" alt="" />
  </div>

  <div class="sooo">
    <img src="/src/images/slider-pic4 1.png" alt="" />
  </div>

  <div class="ice">
    <img src="/src/images/slider-pic7 1 (1).png" alt="" />
  </div>

  <div class="i16">
    <img src="/src/images/Group 22.png" alt="" />
  </div>

  <div class="i23"><img src="/src/images/Group 23.png" alt="" /></div>
</section>
<!-- Hero section start(Nume) -->
