<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="stylesheet" href="hero.css" />
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    <h1>Vanilla Tabaco</h1>
    <!-- ❗️❗️❗️ Add partials like so for every page -->
    <include src="./partials/example.html"></include>

    <section class="hero">
      <div class="headerhero">
        <div>
          <img
            src="img/ice cream made with passion (1).png"
            style="margin-top: 9.18rem; margin-left: 1.25rem"
          />
        </div>
        <ul class="btnlist">
          <img src="img/Btn 3.png" />

          <img src="img/Btn 2.png" alt="" />
        </ul>
        <ul class="indulge">
          <img src="img/slider-pic5 1.png" alt="" />

          <img
            src="img/Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable experience!.png"
            alt=""
          />
        </ul>
        <img src="img/arrow-right 3.png" style="margin-left: 16rem" alt="" />
      </div>
    </section>
  </body>
</html>
