<!-- Sectiunea how it's made- Ilie Mario-Eduard -->
<section class="how-is-made">
  <div class="content-container">
    <h3>Tradition and love</h3>
    <h1>HOW IT'S MADE?</h1>
    <div class="image-container">
      <img src="../images/home-pic4 1.png" alt="Cow and milk" />
      <div class="text-container">
        <p>
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p>
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>

        <button class="read-more" href="#">Read more ></button>
      </div>
    </div>

    <div class="icons">
      <div class="icon-721">
        <svg>
          <use href="../images/icons.svg/symbol-defs.svg#icon-Frame-4"></use>
        </svg>
        <h2>721</h2>
        <span
          >At 721 Cow, we're passionate about producing the highest quality ice
          cream possible.</span
        >
      </div>
      <div class="kg">
        <svg>
          <use
            href="../images/icons.svg/symbol-defs.svg#icon-apples-svgrepo-com-1"
          ></use>
        </svg>
        <h2>16KG</h2>
        <span
          >You can be sure you're getting a scoop of the freshest ice cream
          around.</span
        >
      </div>
      <div class="icon-84">
        <svg>
          <use href="../images/icons.svg/symbol-defs.svg#icon-Group"></use>
        </svg>
        <h2>84</h2>
        <span
          >We use only the freshest, locally-sourced ingredients to make our 84
          unique and delicious flavors.</span
        >
      </div>
    </div>
  </div>
</section>
<!-- Sfarsit sectiune how it's made-Ilie Mario Eduard -->
