<!-- Nav bar start-Nume -->
<nav class="menu">
  <ul>
    <li>
      <a
        class="mobile-navbar"
        href="index.html"
        rel="noopener nofollow noreferrer"
        >Home</a
      >
    </li>
    <li>
      <a
        class="mobile-navbar"
        href="aboutus.html"
        target="_blank"
        rel="noopener nofollow noreferrer"
        >About us</a
      >
    </li>
    <li>
      <a
        class="mobile-navbar"
        href="howitsmade.html"
        target="_blank"
        rel="noopener nofollow noreferrer"
        >How it's made</a
      >
    </li>
    <li>
      <a
        class="mobile-navbar"
        href="ourproducts.html"
        target="_blank"
        rel="noopener nofollow noreferrer"
        >Our Products</a
      >
    </li>
    <li>
      <a
        class="mobile-navbar"
        href="contact.html"
        target="_blank"
        rel="noopener nofollow noreferrer"
        >Contact</a
      >
    </li>
  </ul>
</nav>
<div class="buynow">
  <button type="button">Buy Now</button>
</div>
<!-- Nav bar end-Nume -->
