<!-- Testimonails -->
<section class="testimonials swiper">
  <div class="swiper-wrapper">
    <div class="testimonial-card swiper-slide">
      <img
        src="/src/images/testimonials-images/testimonials1 1.webp"
        alt="User Profile Photo"
        width="85"
      />
      <div class="testimonial-card-content">
        <div class="card-elements">
          <svg class="quotemark" width="54" height="40">
            <use
              href="/src/images/testimonials-images/icons.svg#icon-quotemark"
            ></use>
          </svg>
          <p class="testimonial-card-text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
      </div>
      <div class="dots"></div>
      <p class="testimonial-user">Emily, Los Angeles</p>
    </div>
    <div class="testimonial-card swiper-slide">
      <img
        src="/src/images/testimonials-images/testimonials1 3.webp"
        alt="User Profile Photo"
        width="85"
      />
      <div class="testimonial-card-content">
        <div class="card-elements">
          <svg class="quotemark" width="54" height="40">
            <use
              href="/src/images/testimonials-images/icons.svg#icon-quotemark"
            ></use>
          </svg>
          <p class="testimonial-card-text">
            I just wanted to let you know that it's been great day thanks to
            your icecream. Tobaco Vanilla flavour is the best.
          </p>
        </div>
      </div>
      <div class="dots"></div>
      <p>Jessica, Los Angeles</p>
    </div>
    <div class="testimonial-card swiper-slide">
      <img
        src="/src/images/testimonials-images/testimonials1 4.webp"
        alt="User Profile Photo"
        width="85"
      />
      <div class="testimonial-card-content">
        <div class="card-elements">
          <svg class="quotemark" width="54" height="40">
            <use
              href="/src/images/testimonials-images/icons.svg#icon-quotemark"
            ></use>
          </svg>
          <p class="testimonial-card-text">
            Thanks so much for super fast and kind serving. I deffinetly will
            come back to you!
          </p>
        </div>
      </div>
      <div class="dots"></div>
      <p>Francis, Los Angeles</p>
    </div>
  </div>
  <div class="testimonial-dots"></div>
</section>
