<!-- Testimonails -->
<section class="testimonials">
  <div class="card">
    <img
      src="/src/images/testimonials-images/testimonials1 1.webp"
      alt="User Profile Photo"
      width="85"
    />
    <div class="card-content">
      <div class="card-elements">
        <svg class="quotemark" width="54" height="40">
          <use
            href="/src/images/testimonials-images/icons.svg#icon-quotemark"
          ></use>
        </svg>
        <p class="card-text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
      </div>
    </div>
    <div class="dots">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
    <p>Emily, Los Angeles</p>
  </div>
  <div class="testimonial-dots">
    <span>
      <svg class="home" width="12" height="12">
        <use href="/src/images/testimonials-images/icons.svg#icon-home-1"></use>
      </svg>
    </span>
    <span class="testimonial-dot"></span>
    <span class="testimonial-dot"></span>
  </div>
</section>
