.header{
    
            width: 100%;
           
            max-width:80rem;
        
            height: 41.25rem;
          
            background-color:  #FFB8CA;
        
          
           
        
}
.container {

   
    display: flex;
    flex-direction: column;
    justify-content: center
  
}